CONFIG_FUNCTION_TRACER=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
CONFIG_GDB_SCRIPTS=y
CONFIG_READABLE_ASM=y

CONFIG_EXT2_FS=y

CONFIG_EXPERT=y
CONFIG_BUG=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_IA32_EMULATION=n
CONFIG_RETPOLINE=n
CONFIG_JUMP_LABEL=n

CONFIG_ACPI=n
CONFIG_DRM=n
CONFIG_SOUND=n
CONFIG_ETHERNET=n

CONFIG_NFS_FS=n
CONFIG_NETFILTER=n
CONFIG_WLAN=n
CONFIG_WIRELESS=n

CONFIG_TUN=y
CONFIG_TCP_CONG_BBR=y
CONFIG_NET_SCH_FQ_CODEL=y
CONFIG_NET_SCH_FQ=y
